DEFAULT_BACKEND_URL=http://host.docker.internal:8080
ALLOW_DYNAMIC_BACKEND=true
# Set to 0 or a negative value to disable automatic cleanup.
RETENTION_DAYS=14
MAX_REQUEST_BYTES=33554432
MAX_CAPTURE_BYTES=33554432
REQUEST_TIMEOUT_SECONDS=600
POLL_BACKEND_METRICS=true
POLL_INTERVAL_SECONDS=10
